.main {
  --content-max: 70ch;
  margin-left: auto;
  margin-right: auto;
  width: min(var(--content-max,120ch),100% - 2rem);
}

.postList {
  list-style: none;
  display: grid;
  gap: var(--space--m);
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25ch), 1fr));
}