:root {
    font-size: 62.5%;
    --font-family--primary: Georgia, 'Times New Roman', Times, serif;
    --font-family--secondary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --color--primary: rgb(107, 77, 255);
    --color--secondary: rgb(236, 231, 220);
    --color--blue--light: rgb(96, 213, 255);
    --color--blue--dark: rgb(0, 0, 185);
    --color--orange: rgb(255, 130, 87);

    --space--base: 0.5rem;
    --space--xs: clamp(0.5rem, 0.1rem + 0.002vw , 1rem);
    --space--s: clamp(1rem, 0.1rem + 0.001vw , 2rem);
    --space--m: clamp(1.5rem, 0.1rem + 0.05vw , 3rem);
    --space--l: clamp(2rem, 0.1rem + 0.03vw , 4rem);
    /* --space--xl: calc(var(--space--l) * var(--spacing__ratio)); */
    
    --border-radius: 0.5rem;
}

@supports(color: lch(30% 78 30)) {
    :root {
        --color--secondary: lch(98% 4 85);
        --color--primary: lch(45% 66 300);
    }
}